* {
	margin: 0;
}

html, body {
	font-family: Helvetica;
}

.menu {
	background-color: rgba(0,0,0,0.7);
	padding: 1.9%;
}

.menu li {
	display: inline;
	padding: 0.5em;
}

.menu li a {
	text-decoration: none;
	color: white;
}

.menu li a:hover {
	color: #999999;
}

#left {
	float: left;
	margin-top: -1.4em;
}

#left img {
	margin-left: 1em;
}

#right {
	text-align: right;
}

.HOMETOP {
	clear: both;
	background-image: url("../Images/Wallpaper/PageSport.jpg");
}

.Groupes {
	background-color: red;
	margin-top: 4em;
}


.titre h1 {
	text-align: center;
}

.Groupes table {
	border-width: 0.1em; 
 	border-style: solid; 
 	border-color: black;
}

.Groupes a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	line-height: 2.2em;
	margin: 6em;
}

#Plus a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-left: 90%;
}

.center {
	margin: auto;
	text-align: center;
}

