* {
    margin: 0;
}

body {
    font-family: Helvetica;
}

.menu {
    background-color: rgba(0,0,0,0.7);
    padding: 1.9%;
}

.menu li {
    display: inline;
    padding: 0.5em;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: #999999;
}

#left {
    float: left;
    margin-top: -1.4em;
}

#left img {
    line-height: 4.5em;
    margin-left: 1em;
}

#right {
    text-align: right;
}
.HOMETOP 
{   width:100%;
    margin:auto;
    background-color: #999999;
    }
    
a
{   
    text-decoration:none;
    color: grey;
    }

h1
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 100px;
    color: grey;
    font-family: "Helvetica";
    font-size: 125px;
    }

h2
{   
    color: grey;
    font-family: "Helvetica";
    font-size: 30px;
    margin: 10px;
    padding-left: 15px;
    text-decoration: underline;
    }

h3
{   
    color: white;
    font-family: "Helvetica";
    font-style: italic;
    font-size: 20px;
    margin:10px;
    padding-left: 15px;
    }

div.titre
{   
    background-color: rgba(220,220,220,0.7);
    display: block;
    border: 5px;
    height: 125px;
    width: 100%;
    }

body 
{
    display: block;
    margin: 0px;
    background-color: #999999;
    }


table
{   
    ;
    margin: auto;
    margin-top: 40px;
    border:1px solid rgba(220,220,220,0.7);
    height:500%;
    width: 1080px;
    }

table td
{   
    border:1px solid #999999;
    background-color: rgba(220,220,220,0.7);
    color: hsla(199, 23%, 69%, 0.74);
    font-family: "Helvetica";
    font-size: 20px;
    }

h4
{   
    color: grey;
    font-family: "Helvetica";
    font-size: 20px;
    text-align: center;
    }

h5
{   
    color: white;
    font-style: italic;
    font-family: "Helvetica";
    font-size: 20px;
    text-align: center;
    }

