* {
    margin: 0;
}

body {
    font-family: Helvetica;
}

.menu {
    background-color: rgba(0,0,0,0.7);
    padding: 1.9%;
}

.menu li {
    display: inline;
    padding: 0.5em;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: #999999;
}

#left {
    float: left;
    margin-top: -1.4em;
}

#left img {
    line-height: 4.5em;
    margin-left: 1em;
}

#right {
    text-align: right;
}

.HOMETOP {
    clear: both;
    position: fixed;
    background-image: url("../Images/Wallpaper/Connexion.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Contact {
    height: 70vh;
    width: 80%;
    border-radius: 5%;
    padding: 3em;
    background-color: rgba(0,0,0,0.5);
    margin: 3% auto;
}

.Contact h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
}

.Presentation {
    height: 55vh;
    width: 40%;
}

.Presentation a{ 
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}

.Mail {
    padding: 1em;
    margin-left: 70%;
}

.Mail a {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

#social img {
    padding: 1em;
    width: 2em;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

#social img:hover {
    filter: brightness(300%);
    -webkit-filter: brightness(300%);
    -moz-filter: brightness(300%);
    -o-filter: brightness(300%);
    -ms-filter: brightness(300%);
}

