#event {
	height: 35em;
}

#event div {
	display: inline-block;
}

#l_event {
	margin: 2em 2em;
}

#l_event a {
	text-decoration: none;
	color: black;
	font-size: 2em;
  	font-weight: 200;
}

#e_infos {
	float: right;
	margin-top: 5em;
	margin-right: 2em;
	width: 75%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1em;
	padding: 1em;
	color: #31313a;
	text-align: center;
}

#e_infos h3 {
  padding: 0.5em;
  font-weight: 300;
}

#e_infos h1 {
  font-weight: 300;
  text-decoration: underline;
  padding: 0.8em;
  padding-bottom: 2em;
}

#inline {
	display: inline-block;
}

#ins_ev {
	float: right;
	color: white;
	text-decoration: none;
	border: 0.2em solid #31313a;
	padding: 0.5em;
	border-radius: 0.5em;
}

#affiche_description div{
	display:block;
}