* {
	margin: 0;
}

body {
	font-family: Helvetica;
    background-image: url("../Images/Wallpaper/PageSport.jpg");
    background-size: cover;
    overflow-y: hidden;
}

.titre h1 {
	text-align: center;
}

.Groupes a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	line-height: 2.2em;
	margin: 6em;
}

#Plus a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-left: 90%;
}

.center {
	margin: auto;
	text-align: center;
}

.NouveauGroupe {
	margin-top: 27em;
}

.NouveauGroupe a {
	margin-left: 40em;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border: 0.1em solid #ffffff;
	padding: 0.5em;
	border-radius: 0.5em;

}
