* {
	margin: 0;
}

*::-webkit-scrollbar { 
	display: none 
}

body {
	font-family: Helvetica;
    background-image: url("../Images/Wallpaper/PageSport.jpg");
    background-size: cover;
}

.titre h1 {
	text-align: center;
	color: white;
}

.Groupes a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	line-height: 2.2em;
	margin: 6em;
}

.center {
	margin: auto;
	text-align: center;
}

.NouveauGroupe {
	margin-top: 27em;
}

.NouveauGroupe a {
	margin-left: 40em;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border: 0.1em solid #ffffff;
	padding: 0.5em;
	border-radius: 0.5em;
}

.NouveauGroupe a:hover {
	color: #ffffff;
	border: 0.2em solid #ffffff;
	margin-left: 39.9em;
}

.texte {
	color: white;
}


