*{
	
	margin: 0;
	color: black;
}
html, body {
	font-family: Helvetica;
	background-color: rgba(150,150,150,0.7);
	height: 0em;
}
.bo {

    margin-left: 15%;
    margin-bottom: 5%;
}
.bo h1{
    margin-left: 40%;
    margin-bottom: 4em;
    margin-top: 2em;
}
.bo table th{
    display: inline-block;
    border: 0.2em solid black;
    width: auto;
    margin-left:8em;
    margin-bottom: 2em;
    height: auto;
    padding: 0.5em;
    text-align: left;

}

#Sports{
}
