* {
	margin : 0;
}

*::-webkit-scrollbar { 
	display: none 
}

html {
	font-family: Helvetica;
	background-color: rgba(220,220,220,0.7);
}

.slider {
  width: auto;
  overflow-x: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 25s slider infinite;
}

.slider img {
  width: 20%; 
  height: 70vh;
}

@keyframes slider {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

#descriptiongroupe
{
	background-color: #31313a;
	color: white;
	text-align: center;
}


#descriptiongroupe h1
{
	font-size: 3em;
	font-weight: bold;
	padding : 2em; 
}

#modg {
	position: absolute;
	top: 52.5em;
	left: 70em;
	font-size: 0.8em;
	text-decoration: underline;
	color: white;
}

#bouton_rejoindre
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	position:relative;
	bottom: 4em;
	padding: 0.5em;
	border: 0.1em solid white;
	border-radius: 0.5em;
}

#bouton_rejoindre:hover 
{
	color: #ffffff;
	border: 0.2em solid #ffffff;
}

#bouton_rejoindre:focus {
	outline: none;
}

#event {
	height: 35em;
}

#event div {
	display: inline-block;
}

#l_event {
	margin: 2em 2em;
}

#l_event a {
	text-decoration: none;
	color: black;
	font-size: 2em;
  	font-weight: 200;  	
}

#e_infos {
	float: right;
	margin-top: 5em;
	margin-right: 2em;
	width: 75%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1em;
	padding: 1em;
	color: #31313a;
	text-align: center;
}

#e_infos h3 {
  padding: 0.5em;
  font-weight: 300;
}

#e_infos h1 {
  font-weight: 300;
  text-decoration: underline;
  padding: 0.8em;
  padding-bottom: 2em;
}

#inline {
	display: inline-block;
}

#ins_ev {
	float: right;
	color: white;
	text-decoration: none;
	border: 0.2em solid #31313a;
	padding: 0.5em;
	border-radius: 0.5em;
}

.localisation {
  background-color: #31313a;
  height: 35em;
  color: white;
}

.localisation h1 {
  text-decoration: underline;
  padding: 2em 2em;
  font-weight: 300;
}

.localisation h2 {
  padding: 4em 6em;
  font-weight: 300;
}

.localisation iframe {
  height: 30em;
  width: 40em;
  border: none;
  position: absolute;
  margin-top: 2.3em;
  right: 10em;
}

.localisation p {
  font-size: 1.5em;
  margin: 4em 8em;
}