* {
	margin : 0;
}

*::-webkit-scrollbar { 
	display: none 
}

html {
	font-family: Helvetica;
	background-color: rgba(220,220,220,0.7);
}

.slider {
  width: auto;
  overflow-x: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 25s slider infinite;
}

.slider img {
  width: 20%; 
  height: 70vh;
}

@keyframes slider {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

#descriptiongroupe
{
	background-color: #31313a;
	color: white;
	text-align: center;
}


#descriptiongroupe h1
{
	font-size: 3em;
	font-weight: bold;
	padding : 2em; 
}

#descriptiongroupe #modg a {
	position: absolute;
	top: 52.5em;
	left: 70em;
	font-size: 0.8em;
	text-decoration: underline;
	color: white;
}

#bouton_rejoindre
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	position:relative;
	bottom: 4em;
	padding: 0.5em;
	border: 0.1em solid white;
	border-radius: 0.5em;
}

#bouton_rejoindre:hover 
{
	color: #ffffff;
	border: 0.2em solid #ffffff;
}

#bouton_rejoindre:focus {
	outline: none;
}

#event {
	height: 35em;
}

#event div {
	display: inline-block;
}

#l_event {
	margin: 2em 2em;
}

#l_event a {
	text-decoration: none;
	color: black;
	font-size: 2em;
  	font-weight: 200;  	
}

#e_infos {
	float: right;
	margin-top: 5em;
	margin-right: 2em;
	width: 75%;
	background-color: rgba(100,100,100,0.7);
	border-radius: 1em;
	padding: 1em;
	color: white;
}

#e_infos h3 {
  text-align: center;
  padding: 0.5em;
  font-weight: 300;
  color: #ffffff;
}

/*
#bouton_inscription_event
{
	text-decoration: none;
	font-size: 1.5em;
	color: #31313a;
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	border: 0.1em solid #706B78;
	border-radius: 0.5em;
	position: relative;
	bottom: 3.5em;
}

#bouton_inscription_event:hover 
{
	color: #706B78;
	border: 0.2em solid #706B78;
}
*/

.localisation
{
  background-color: #31313a;
  display: inline-block;
  width: 100%;
  height: 90vh;
}

.localisation h1
{
  color: white;
  text-decoration: underline;
  margin-left: 2em;
  margin-top: 2.5em;
}

.localisation iframe {
  width: 40em; 
  height: 30em; 
  border: none;
  margin-left: 45em;
  margin-top: -20em;
}

#adresse
{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-top: 10em;
  margin-left: 12em;
}