*
{
	margin : 0;
}

body
{
	font-family: Helvetica;
	background-color: rgba(220,220,220,0.7);
}

header
{  
	width:100%;
    margin:auto;
}

.menu {
	position: relative;
	z-index: 3;
	width: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 2%;
	margin-top: -0.2em;
}

.menu li {
    display: inline;
    padding: 0.5em;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: #999999;
}


#left img {
	position: absolute;
	height: 4em;
	margin-top: -1.3em;
	margin-left: 0.91em;
}


#right 
{
    text-align: right;
}

@keyframes slider {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.slider figure {
	position: relative;
  	width: 500%;
  	font-size: 0;
  	animation: 25s slider infinite;
}

.slider {
	margin-top: -4.5em;
	z-index: 1;
	overflow: hidden;
}

.slider img {
	 width: 20%; 
	 height: 70vh;
}

#descriptiongroupe
{
	background-color: #31313a;
	color: white;
	text-align: center;
}


#descriptiongroupe h1
{
	font-size: 3em;
	font-weight: bold;
	padding : 2em; 
}


#descriptiongroupe p
{
	padding-bottom: 16em;
}

#modg p {
	position: absolute;
	z-index: 1;
	top: 100em;
	left: 10em;
}


#bouton_rejoindre
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	position:relative;
	bottom: 4em;
	padding: 0.5em;
	border: 0.1em solid white;
	border-radius: 0.5em;
}

#bouton_rejoindre:hover 
{
	color: #ffffff;
	border: 0.2em solid #ffffff;
}

#event
{
	text-align: center;
}

#event h2
{	
	text-align: left;
	text-decoration: underline;
	color: #4A1A2C;
	position: relative;
	left: 5em;
	top: 3em;
	font-weight: bold;

}

#event h3
{
	padding-bottom: 8em;
}

#bouton_inscription_event
{
	text-decoration: none;
	font-size: 1.5em;
	color: #31313a;
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	border: 0.1em solid #706B78;
	border-radius: 0.5em;
	position: relative;
	bottom: 3.5em;
}

#bouton_inscription_event:hover 
{
	color: #706B78;
	border: 0.2em solid #706B78;
}

#event h1
{
	padding: 2em;
	margin-top: 1em;
	font-weight: bold;
	font-size: 3em;
}

#event p 
{
	padding-bottom: 3em;
}

#localisation
{
	background-color: #31313a;
}

#localisation h1
{
	color: white;
	text-decoration: underline;
	position: relative;
	left: 1em;
	top: 4em;
}

.googlemaps {
	height: 30em;
	position: relative;
	bottom: 2.5em;
	left: 22em;
}

#adresse
{
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	position: relative;
	top: 10em;
	left: 12em;
}

#social {
	height: 4em;
	background-color: rgb(40,40,40);
}

#social img {
	margin: 0.5em;
	height: 2em;
    filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -o-filter: brightness(100%);
        -ms-filter: brightness(100%);
}

#social img:hover {
	margin: 0.5em;
	height: 2em;
    filter: brightness(300%);
    -webkit-filter: brightness(300%);
    -moz-filter: brightness(300%);
    -o-filter: brightness(300%);
    -ms-filter: brightness(300%);
}

#copyright
{
	background-color: rgb(40,40,40);
}

#copyright a {
	font-size: 0.6em;
	color: rgba(220,220,220,0.7);
	text-decoration: none;
}

.organisation {
  background-color: rgb(40,40,40);
  padding: 2em;
}

.organisation h3{
	margin-left: 40em;
	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation h4{
	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation td h4:hover {
  	text-decoration: none;
  	color: white;
}

.organisation td {
 	padding: 3em;
}

.organisation td a {
  	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation td img {
  	height: 4em;
}

.organisation table {
  	margin: auto;
  	text-align: center;
}

.organisation br {
  	line-height: 1.5em;
}

#L2 {
  	background-color: rgba(220,220,220,0.7);
  	height: 0.1em;
  	width: 92%;
  	margin: auto;
}
