* {
  margin: 0;
}

html {
  font-family: Helvetica;
  background-image: url("../Images/Wallpaper/wakeskate.jpg");
  background-size: cover;
}

.Creation h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  padding-top: 3.75em;
}

.Creation h4 {
  color:#ffffff;
}


.Creation input[type="text"],
.Creation input[type="datetime-local"] {
  width: 70%;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  font-size: 1.3em;
  padding-top: 1.5em;
  margin-left: 15%;
}

#nom_event::-webkit-input-placeholder {
  color: white;
}

#nom_event:focus {
  outline: none;
}

#bouton_bold {
  margin-left: 15%;
}

.Creation input[type="button"] {
  margin-top: 2em;
}

#editeur_description {
  width: 70%;
  height: 10em;
  margin-top: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.7);
  resize: none;
  margin-left: 14.7%;
  padding: 1em;
}

#editeur_adresse {
  width: 70%;
  height: 3em;
  margin-top: 2em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.7);
  resize: none;
  margin-left: 14.7%;
  padding: 1em;
}

#editeur_description:focus,
#editeur_adresse:focus,
#editeur_date:focus {
  outline: none;
}

#creer{
  background-color: rgb(140,140,140);
  border: 0.2em solid rgb(140,140,140);
  border-radius:0.5em;
  width: 30%;
  margin: 1em 35%;
  cursor: pointer;
  color: #ffffff;
  line-height: 0.1em;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
}

#social {
  text-align: center;
}

#social img {
  padding: 1em;
  width: 2em;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
}

#social img:hover {
  filter: brightness(300%);
  -webkit-filter: brightness(300%);
  -moz-filter: brightness(300%);
  -o-filter: brightness(300%);
  -ms-filter: brightness(300%);
}
