* {
    margin: 0;
}

*::-webkit-scrollbar { 
    display: none 
}

body {
    font-family: Helvetica;
    background-color: rgba(150,150,150,0.7);
}

.mygroups {
    margin: 2em 0 0 2em;
}

.mygroups h1 {
    padding-left: 12%;
}

.mygroups a {
    padding-left: 12%;
    color: black;
    font-size: 0.9em;
    font-weight: 100;
}

.members {
    margin-top: 2em;
}

.members div {
    display: inline-block;
}

.members li {
    text-align: left;
    font-size: 1.5em;
}

.members table {
    display: inline-block;
    border: 0.2em solid black;
    margin: 2em 0 0 2em;
    height: 30em;
    width: 20em;
}

.more {
    position: absolute;
    padding-left: 42%;
    margin-top: -43em;
}

.more div {
    display: inline-block;
}

.more table {
    display: inline-block;
    margin-top: 2em;
    border: 0.2em solid black;
}

.more li {
    text-align: left;
    font-size: 1.5em;
}

#club table {
    height: 10em;
    width: 20em;
}

#cal table {
    height: 20em;
    width: 45em;
}

#club, #cal {
    padding-top: 5%;
}

#club {
    padding-left: 24%;
}