* {
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: Helvetica;
    background-color: rgba(150,150,150,0.7);
    height: 0em;
}

.Posts h1 {
    position: absolute;
    top: 2.5em;
    left: 49.9%;
    padding: 1em;
    font-weight: 300;
    color: #ffffff;
}

.Posts div {
    display: inline-block;
}

.Sujet {
    position: absolute;
    top: 8em;
    left: 1em;
}

.Sujet a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
}

.Sujet a:hover {
    text-shadow: 0em 0em 0.5em #ffffff;
}

#p {
    position: absolute;
    top: 12em;
    left: 15.9em;
    width: 75%;
    background-color: rgba(100,100,100,0.7);
    border-radius: 1em;
    padding: 1em;
    color: white;
}

#p h3 {
    text-align: center;
    padding: 1em;
    font-weight: 300;
    color: #ffffff;
}

#ligne {
    width: 100%;
    border-bottom: 0.08em solid white;
    margin-bottom: 1.5em;
}

#right {
    margin-left: 4em;
}

#left {
    text-align: center;
}