* {
	margin: 0;
}

*::-webkit-scrollbar { 
	display: none 
}

html {
	font-family: Helvetica;
    background-image: url("../Images/Wallpaper/PageSport.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.Sports {
	margin-top: 4em;
}

.Sports a {
	font-size: 1.3em;
	font-weight: 400;
	text-decoration: none;
	color: white;
	line-height: 2.2em;
	margin: 6em;
}

.Sports a:hover {
	text-shadow: 0em 0em 0.5em #ffffff;
}

#Plus a {
	position: absolute;
	bottom: 1em;
	right: 6em;
	font-size: 1.3em;
	font-weight: 400;
	text-decoration: none;
	color: white;
	border: 0.1em solid #ffffff;
	padding: 0.5em;
	border-radius: 0.5em;
}

#Plus a:hover {
	cursor: pointer;
	border: 0.2em solid #ffffff;
	box-shadow: 0em 0em 0.5em 0.2em #ffffff;
	position: absolute;
	bottom: 0.93em;
	right: 5.9em;
}

#divacacher {
	margin-top: 6.6%;
	height: 20em;
	background-color: rgba(0,0,0,0.7);
}

#divacacher a {
	margin: 2em 1.5em;
	font-size: 1.5em;
	line-height: 2em;
	text-decoration: none;
	font-weight: 300;
	color: white;
}

