* {
	margin: 0;
}

body {
	font-family: Helvetica;
    background-image: url("../Images/Wallpaper/PageSport.jpg");
    background-size: cover;
    overflow-y: hidden;
}

.Sports {
	margin-top: 4em;
}

.Sports a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	line-height: 2.2em;
	margin: 6em;
}

#Plus a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	margin-left: 90%;
}

#Plus a:hover {
	cursor: pointer;
}

#divacacher {
	height: 35em;
	background-color: rgba(0,0,0,0.7);
}

#divacacher a {
	font-size: 1.5em;
	line-height: 2em;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

