* {
    margin: 0;
}

html, body {
    font-family: Helvetica
}

.menu {
    background-color: rgba(0,0,0,0.7);
    height: 4.55em;
}

.menu  div {
    display: inline-block;
}

.menu a:hover {
    text-shadow: 0em 0em 0.5em #ffffff;
}

#left img {
    margin-top: 0.2em;
    height: 3.8em;
    margin-left: 2em;
}

#right {
    float: right;
    margin-right: 2em;
}

#right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.8em;
    line-height: 4em;
}

#marge_d a {
    margin-right: 3em;
}

.langue {
    list-style: none;
    line-height: 2em;
    text-align: center;
    position: absolute;
    right: 1.8em;
    top: 1.2em;
    padding: 0;
}

#none {
    visibility: hidden;
}

.langue img {
    height: 0.6em;
    position: absolute;
    top: 0.6em;
    right: 0.1em;
}

.langue a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform : uppercase;
    height: 2em;
    width: 3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

.langue:hover a {
    background-color: rgba(25,25,25,0.7);
}

.langue li a:focus,
.langue li a:hover {
    background-color: rgba(25,25,25,1);
}

#lg:hover {
    background-color: rgba(25,25,25,1);
}

#bottom1 a {
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
}

#bottom2 a {
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
   
.choix {
    display: none;
    position: absolute;
    top: 2em;
    right: 0em;
    
}
.langue:hover .choix {
    display: block;
    list-style: none;
}