* {
    margin: 0;
}

html, body {
    font-family: Helvetica
}


.menu div {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

#left img {
    margin-top: 0.2em;
    height: 3.8em;
    margin-left: 2em;
}

#right table {
    position: absolute;
    z-index: 4;
    right: 2em;
}

#right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.8em;
    line-height: 4em;
}

#right a:hover {
    color: #999999;
}