*
{
	margin : 0;
}

body
{
	font-family: Helvetica;
	background-color: rgba(220,220,220,0.7);
}

header
{  
	width:100%;
    margin:auto;
}

.menu {
	position: relative;
	z-index: 3;
	width: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 2%;
	margin-top: -0.2em;
}

.menu li {
    display: inline;
    padding: 0.5em;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: #999999;
}


#left img {
	position: absolute;
	height: 4em;
	margin-top: -1.3em;
	margin-left: 0.91em;
}


#right 
{
    text-align: right;
}

@keyframes slider {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.slider figure {
	position: relative;
  	width: 500%;
  	font-size: 0;
  	animation: 25s slider infinite;
}

.slider {
	margin-top: -4.5em;
	z-index: 1;
	overflow: hidden;
}

.slider img {
	 width: 20%; 
	 height: 100vh;
}

#descriptiongroupe
{
	background-color: #31313a;
	color: white;
	text-align: center;
}


h1
{
	font-size: 3em;
	font-weight: bold;
	padding : 2em; 
}


p
{
	padding-bottom: 6em;
}
