
* {
	margin: 0;
}

html, body {
	font-family: Helvetica;
	background-color: rgba(220,220,220,0.7);
}

html, footer{
	font-family: Helvetica;
	background-color: rgb(40,40,40)
}

.menu {
	position: relative;
	z-index: 3;
	width: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 2%;
	margin-top: -0.2em;
}

.menu li {
	display: inline;
	padding: 0.5em;
}

.menu li a {
	text-decoration: none;
	color: white;
}

.menu li a:hover {
	color: #999999;
}

#left img {
	position: absolute;
	height: 4em;
	margin-top: -1.3em;
	margin-left: 0.91em;
}

#right {
	text-align: right;
}

#inscription {
	position: absolute;
	z-index: 3;
	margin-left: 65%;
	margin-top: 20%;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border: 0.1em solid #ffffff;
	padding: 0.5em;
	border-radius: 0.5em;
}

#inscription:hover {
	color: #ffffff;
	border: 0.2em solid #ffffff;
}


@keyframes slider {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.slider figure {
	position: relative;
  	width: 500%;
  	font-size: 0;
  	animation: 25s slider infinite;
}

.slider {
	margin-top: -4.5em;
	z-index: 1;
	overflow: hidden;
}

.slider img {
	 width: 20%; 
	 height: 100vh;
}

.search {
	position: relative;
	width: auto;
	background-color: rgba(0,0,0,0.7);
	margin-top: -2.8em;
	padding: 0.8em;
	border-top: 0.15em solid rgba(255,255,255,0.7);
}







.search select {
	display: inline;
	padding-left: 3em;
	border: 
}

.search select {
	text-decoration: none;
	color: white;
}

.search select:hover {
	color: #999999;
}



.search input {
	margin-left:3em;
	display: inline;
	padding-left: 20%;
}

.search input {
	text-decoration: none;
	color: white;
}

.search input:hover {
	color: #999999;
}










#SPORT a {
	z-index: 1;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	line-height: 5em;
}

.picture > div div {
	display: inline-block;
	height: 20em;
	margin-top: 1em;
}

.picture a {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	line-height: 10em;
}

.picture a:hover {
	border-bottom: 0.3em solid rgba(255,255,255,0.5);
}

.pline1 > div {
	width : 29%;
	background-repeat: no-repeat;
  	background-size: cover;
}

.p1 {
	background-image: url("../Images/Sports/Basket.jpg");
	margin-left: 2em;
	margin-right: 1em;
}

.p2 { 
	background-image: url("../Images/Sports/Boxe.jpg");
	margin-left: 1em;
	margin-right: 1em;
}

.p3 { 
	background-image: url("../Images/Sports/Ski.jpg");
	margin-left: 1em;
	margin-right: 2em;
}


.p4 { 
	background-image: url("../Images/Sports/Athlétisme.jpg");
	margin-left: 2em;
	margin-right: 1em;
	width : 29%; 
}

.p5 { 
	background-image: url("../Images/Sports/Rugby.jpg");
	margin-left: 1em;
	margin-right: 2em;
	width : 61%; 
}

.p6 { 
	background-image: url("../Images/Sports/Natation.jpg");
	margin-left: 2em;
	margin-right: 1em;
	margin-bottom: 2em;
	width : 60%; 
}

.p7 {
	background-image: url("../Images/Sports/Tennis.jpg");
	margin-left: 1em;
	margin-right: 2em;
	margin-bottom: 2em;
	width : 30%; 
}

#MAPS a {
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	line-height: 5em;
}

.googlemaps {
	height: 30em;
}

#GROUPES a {
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	line-height: 5em;
}

.vedettes > div div {
	display: inline-block;
	height: 30em;
	margin-top: 1em;
}

.vline a {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	line-height: 2em;
}

.vline{
	overflow: auto;
	margin: 0 auto;
	white-space: nowrap
}
.vline > div {
	width : 29%;
	margin-bottom: 4em;
}

.v1 {
	border: solid 0.5em rgb(40,40,40);
	background-image: url("../Images/Sports/PatriotB&W.jpg");
	margin-left: 2em;
	margin-right: 0.5em;
	overflow-x:scroll;
}

.v1 img{
	height: 2em;
}

.v1:hover {
	background-image: url("../Images/Sports/Patriot.png");
}

#a1 img:hover {
	background-image: url("../Images/Logos/Star1.png");
}

.v2 { 
	border: solid 0.5em rgb(40,40,40);
	background-image: url("../Images/Sports/RedRingsB&W.jpg");
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.v2 img{
	height: 2em;
}

.v2:hover{
	background-image: url("../Images/Sports/RedRings.jpg");
}

.v3 {
	border: solid 0.5em rgb(40,40,40); 
	background-image: url("../Images/Sports/ChicagoBullsB&W.jpg");
	margin-left: 0.5em;
	margin-right: 2em;
}

.v3 img{
	height: 2em;
}

.v3:hover{
	background-image: url("../Images/Sports/ChicagoBulls.jpg");
}

#social {
	height: 4em;
}

#social img {
	margin: 0.5em;
	height: 2em;
    filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -o-filter: brightness(100%);
        -ms-filter: brightness(100%);
}

#social img:hover {
	margin: 0.5em;
	height: 2em;
    filter: brightness(300%);
    -webkit-filter: brightness(300%);
    -moz-filter: brightness(300%);
    -o-filter: brightness(300%);
    -ms-filter: brightness(300%);
}

#copyright a {
	font-size: 0.6em;
	color: rgba(220,220,220,0.7);
	text-decoration: none;
}

.organisation {
  background-color: rgb(40,40,40);
  padding: 2em;
}

.organisation h3{
	margin-left: 40em;
	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation h4{
	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation td h4:hover {
  	text-decoration: none;
  	color: white;
}

.organisation td {
 	padding: 3em;
}

.organisation td a {
  	text-decoration: none;
  	color: rgba(220,220,220,0.7);
}

.organisation td img {
  	height: 4em;
}

.organisation table {
  	margin: auto;
  	text-align: center;
}

.organisation br {
  	line-height: 1.5em;
}

#L2 {
  	background-color: rgba(220,220,220,0.7);
  	height: 0.1em;
  	width: 92%;
  	margin: auto;
}
*/